<div class="quizzContainer">
  <span (click)="test()"></span>
  <div class="leftCol">
    <form [formGroup]="quizzForm" (submit)="getResults()">

      <label id="example-radio-group-label">¿Fumas?</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        formControlName="question1">
        <mat-radio-button value="answer1" class="example-radio-button">
          Sí
        </mat-radio-button>
        <mat-radio-button value="validAnswer"  class="example-radio-button">
          No
        </mat-radio-button>

      </mat-radio-group>

      <mat-form-field appearance="fill">
        <mat-label>¿Quien es el mejor mellizo?</mat-label>
        <mat-select formControlName="question2">
          <mat-option value="good">
            Miri
          </mat-option>
          <mat-option value="bad">
            El otro
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button [disabled]="!quizzForm.valid" mat-raised-button color="primary">Comprobar resultados</button>
    </form>
  </div>
  <div class="righttCol">
    <span> <h1> Result:</h1> {{result}}</span>

    <button *ngIf="result" mat-raised-button color="primary" (click)="download()">Descargar resultados en txt
      <mat-icon>download</mat-icon>


    </button>

  </div>


</div>
