.footerContainer{
  display: inline-flex;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  .copyRight{
    font-weight: 500;
  }
  .owner-container{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding:.5em;
    .logo-owner-small{
      width:6rem;
    }
    .motto{
      margin: 2rem 0 .1rem 0;
      font-weight: 500;
    }
  }

}
